.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 87.5%;
  border-radius: 10px;
  border-top: 0;
  padding: 1px;
  padding-top: 0;
  position: relative;
  overflow: hidden;
}
.project::before {
  content: '';
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: inherit;
  background: linear-gradient(to right,#e76f00,#30a9dc);
  animation: border-animation 2s linear infinite;
  z-index: -1;
}
.content-project {
  background: #171821;
  padding: 17px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-project .title-description-project {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 13px;
}
.content-project .title-description-project h3 {
  font-size: 16px;
}
.content-project .title-description-project p {
  color: #CCC;
  font-size: 14px;
}
.content-project .date-project {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-left: 13px;
  color: #FFFFFF70;
}
.content-project .date-project .icon-calendar {
  width: 18px;
  stroke: #008ECB;
}
.btns-skills-project {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: fit-content;
  padding-left: 13px;
}
.img-project {
  width: 100%;
  height: 140px;
}
.img-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.btns-project {
  display: flex;
  gap: 15px;
  margin-left: 13px;
}

@media (min-width: 600px) {
  .project {
    flex-direction: row;
    align-items: initial;
    height: 180px;
    padding-top: 1px;
  }
  .project::before {
    top: -100%;
    left: -50%;
    transform: translate(-50%, -100%);
  }
  .content-project {
    padding-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    gap: 5px;
  }
  .content-project .title-description-project {
    gap: 10px;
  }
  .img-project {
    width: 100%;
  }
  .img-project img {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .btns-skills-project {
    position: absolute;
    gap: 5px;
    bottom: 1px;
    left: 1px;
    padding: 10px 0 8px 2px;
    border-bottom-left-radius: 10px;
    background: #171821;
  }
  .btns-skills-project .btn-skill {
    width: 95px;
    height: 25px;
  }
  .btns-project {
    position: absolute;
    gap: 10px;
    right: 10px;
    bottom: 10px;
    margin-left: 0;
  }
  .btns-project .btn-project {
    gap: 5px;
    width: 100px;
    height: 35px;
  }
}
@media (min-width: 679px) {
  .project {
    height: 220px;
  }
  .project::before {
    top: -100%;
    left: -30%;
    transform: translate(-30%, -100%);
  }
  .content-project {
    padding-top: 7px;
  } 
  .img-project {
    height: 100%;
  }
  .btns-skills-project {
    position: initial;
    margin: 0 auto;
  }
  .btns-skills-project .btn-skill {
    width: 90px;
  }
  .btns-project {
    position: initial;
    margin-left: 13px;
  }
  .btns-project .btn-project {
    gap: 5px;
    width: 100px;
    height: 35px;
  }
}
@media (min-width: 750px) {
  .project::before {
    top: -120%;
    left: -25%;
    transform: translate(-25%, -120%);
  }
  .btns-skills-project {
    margin: 0;
    margin-left: 13px;
  }
}
@media (min-width: 860px) {
  .project::before {
    top: -150%;
    left: -5%;
    transform: translate(-5%, 0%);
  }
}
@media (min-width: 1024px) {
  .project {
    height: auto;
  }
  .content-project {
    padding-top: 10px;
    gap: 10px;
  } 
  .content-project .title-description-project h3 {
    font-size: 22px;
  }
  .content-project .title-description-project p {
    font-size: 16px;
  }
  .img-project {
    height: auto;
  }
  .btns-skills-project .btn-skill {
    width: 100px;
    height: 30px;
  }
}