.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 30px auto 0;
  width: 87.5%;
  overflow-x: auto;
}
.skills::-webkit-scrollbar {
  display: none;
}
.section-skills {
  padding-top: 70px;
}