.btn-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: .2px solid #E76F00;
  background: transparent;
  outline: none; 
  color: #CCC;
  font-size: 12px;
  font-family: Amaranth-Regular;
}
.btn-skill .icon-react,
.btn-skill .icon-HTML,
.btn-skill .icon-CSS,
.btn-skill .icon-javascript {
  width: 20px;
  height: 20px;
}