.header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 5;
}
.header.fixed{
  z-index: 5;
  background: #171821;
  border-bottom: 1px solid #008ECB;
}
.header.scroll{
  backdrop-filter: blur(5px);
}
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.navbar .icon-menuburger {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.menu-list {
  position: fixed;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 16px;
  background: #171821;
  z-index: 5;
  border-bottom: 1px solid #008ECB;
}
.item-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 150px;
  color: #30A9DC;
  font-size: 18px;
  font-family: Onest-Regular;
  padding-right: 20px;
}
.item-menu .icon-projects,
.item-menu .icon-skills,
.item-menu .icon-aboutMe,
.item-menu .icon-contact {
  width: 24px;
}
